<div style="width: 100%;display: flex;justify-content: end;align-items: center;">
    <div style="padding: 12px;display: flex;align-items: center;cursor: pointer;">
        <label>{{storeService.totalPrix()}}</label>
        <mat-icon>shopping_cart</mat-icon>
    </div>
</div>
<div>
    <table style="width: 100%;">
        <thead>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let article of storeService.listSousCommand; let i = index">
                <td>{{article.title}}</td>
                <td><input [(ngModel)]="article.quantity" type="number"></td>
                <td>{{article.prix}}</td>
                <td><button (click)="delete(article)">delete</button></td>
                <td style="font-weight: 600;">{{article.quantity*article.prix}}</td>
              
            </tr>
            <tr>
                <td >Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td style="color: red;font-weight: 600;">{{storeService.totalPrix()}}</td>
            </tr>
        </tbody>
    </table>
</div>